body {
	-moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
    overflow: hidden;
    font-family: 'Microsoft Yahei', Arial, sans-serif;
    color: #303030;
}
.notAllowedCursor {
	cursor: not-allowed;
}
.defaultCursor {
	cursor: default;
}
.moveCursor {
	cursor: move;
}
.handCursor {
	cursor: move;
}
.urlList {
	line-height: 30px;
	padding: 4px 0;
}
.urlList>li {
	padding-left: 16px;
	cursor: default;
	border-bottom: 1px solid #E0E0E0;
}
.urlList>li>h2 {
	font-size: 14px;
}
.urlList>li>ul>li {
	padding-left: 32px;
	padding-right: 12px;
	margin-left: -16px;
	cursor: default;
	font-size: 12px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	border-top: 1px dashed #E0E0E0;
}
.urlList>li>ul>li:hover {
	background-color: #F0F0F0;
}
i {
	display: inline-block;
	height: 16px;
	width: 16px;
	background-image: url("../img/img_packed.png");
	margin-right: 6px;
}
i.folder {
	background-position: 0 16px;
}
i.unfolder {
	background-position: -16px 16px;
}
i.xmlFile {
	background-position: -32px 16px;
}
#appHeader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: auto;
	height: 48px;
	background-color: #FFFFFF;
	box-shadow: 1px 0 3px #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
	z-index: 99;
}
#appHeader .appLogo {
	height: 48px;
	width: 200px;
	display: inline-block;
	background: url("../img/img_packed.png") 0 0;
}
#appHeader .scanBar {
	padding: 7px 0;
	width: 420px;
	display: inline-block;
}
#appLeft {
	position: absolute;
	top: 48px;
	left: 0;
	width: 240px;
	bottom: 0;
	height: auto;
}
#pageAddress {
	position: absolute;
	top: 48px;
	left: 240px;
	height:34px;
	width: 800px;
}
#pageFrame {
	position: absolute;
	top: 82px;
	left: 240px;
	bottom: 0;
	width: 800px;
	height: auto;
	background-color: #F0F0F0;
	z-index: 98;
}
#pageFrame iframe {
	border: none;
	height: 100%;
	width: 100%;
}
#defineInputs {
	position: absolute;
	top: 48px;
	left: 1040px;
	bottom: 0;
	right: 0;
	padding: 12px;
	border: 1px solid #D0D0D0;
	cursor: default;
	overflow: hidden;
	background-color: #F0F0F0;
}